<h1>Division of Planning</h1>

<ul class="nav nav-tabs">
    <li role="presentation"><a href="#applications">Applications</a></li>
    <li role="presentation" class="active"><a href="#about">About</a></li>
</ul>

<h3>About this Tool</h3>
    <p>This tool was created by the Lexington Department of Planning, Preservation and Development to provide up-to-date information on applications submitted for zone changes, development plans, variances, and other types of applications.</p>
    <p>Below is a quick summary of what some of the terminology on this site means:</p>
      <ul>
        <li>Zone Change - </li>
        <li>Development Plan - </li>
       <li>Variance - </li>
    </ul>
<h3>Talk To Us</h3>
    <p>We want to know what you think. shoot an email to <a href= "mailto:jhollinger@lexingtonky.gov">Jonathan Hollinger</a> if you have suggestions, notice issues, want more features, or just want to let us know you like it.</p>
 <h3>Technical Stuff</h3>
 	<p>Credit is due tabletop.js for making it easy to access data in Google Spreadsheets.</p
